@using Microsoft.Extensions.Options;

@inject IOptions<DICourse.ViewModels.KavrnegarViewModel> kavenegarOptions

@{
    ViewData["Title"] = "Privacy Policy";
}
<h1>@ViewData["Title"]</h1>

<p>Kavenegar : @kavenegarOptions.Value.Api</p>
<p>Pasargad : @ViewBag.Pasargad</p>
